.container {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  align-items: flex-start;
}

.list {
  list-style: none;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: aqua;
  padding: 0px;
}

.list li {
  /* display: flex; */
  /* flex-direction: column; */
  /* border: black; */
  border-width: 1px;
  border-style: solid;
  /* margin: auto; */
  width: 400px;
  padding: 20px;
}

.list img {
  width: 100px;
  padding-right: 20px;
}

.list_view {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: darkcyan;
  /* justify-content: center; */
}

.view-content {
  display: flex;
  flex-direction: column;
  background-color: darkseagreen;
  margin: auto;
  padding: 50px;
}

.view img{
  width: 600px;
}

.view-buttons {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row; */
  /* margin: auto; */
  padding: 40px;

  /* border-style: none; */
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

.my-modal {
  height: 10vw;
  max-height: 90vw;
} 

.my-list-item{
  border-width: 1px;
  border-style: solid;
  /* margin: auto; */
  width: 400px;
  padding: 20px;
}

